################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngCode/.vs
/EngCode/SOHTA engine/x64
/EngCode/x64
/EngCode/SOHTA engine/.vs
*.obj
*.obj
*.obj
*.obj
*.obj
